<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../static/css/doctor/recording.css">
    <title>Condition at Booking - {{ mr_num }}</title>
</head>

<body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg">
        <!-- add a left arrow button -->
        <a class="navbar-brand" onclick="backButton()" href="#" style="font-size:11px"><i class="fas fa-arrow-left"
                id="backButton"></i> BACK</a>
        <!-- add a mr number label -->
        <a class="navbar-brand" href="{{ url_for('doctor.dashboard') }}" style="font-size:11px">M.R NO: {{ mr_num }}</a>
        <div class="ml-auto">
            <a href="{{ url_for('doctor.logout') }}" class="btn btn-outline-light my-2 my-sm-0">Logout</a>
        </div>
    </nav>

    <div class="container mt-3">
        <ul id="progressBar" class="progress-indicator">
            <li><span class="bubble"></span>Medical</li>
            <li><span class="bubble"></span>Family</li>
            <li><span class="bubble"></span>Socio</li>
            <li><span class="bubble"></span>Previous</li>
            <li><span class="bubble"></span>Present</li>
            <li><span class="bubble"></span>Plan</li>
        </ul>
    </div>

    <div class="container">
        <div class="info-box">
            <div class="info-box-header">
                PATIENT INFORMATION
            </div>
            <div class="info-box-content">
                <p>Age: {{ patient.age }}</p>
                <!-- <input type="text" id="years" name="years" placeholder="Enter years..."> -->
                <p>Visit Date: {{ vitals_recorded_at }}</p>
                <p>Visit Number: {{ visit_number }}</p>
            </div>
        </div>
    </div>

    <!-- vitals -->
    <div class="container mb-3">
        <!-- Vitals Section -->
        <div class="card">
            <div class="vitals-header" data-toggle="collapse" href="#vitalsContent" aria-expanded="false"
                aria-controls="vitalsContent" area-label="Toggle Vitals Section">
                VITALS
                <i class="fas fa-chevron-up"></i>
            </div>
            <div class="collapse show" id="vitalsContent">
                <div class="vitals-body">
                    <table class="vitals-table">
                        <tr>
                            <th>Vitals Recorded:</th>
                            <td colspan="2">{{ date }} at {{ time }}</td>
                        </tr>
                        <tr>
                            <th>Weight (Kg)</th>
                            <th>Height (Cm)</th>
                            <th>BMI</th>
                        </tr>
                        <tr>
                            <td>{{ patient.weight_kg }}</td>
                            <td>{{ patient.height_cm }}</td>
                            <td>{{ patient.bmi }}</td>
                        </tr>
                        <tr>
                            <th>B.P.B Sys / Dia</th>
                            <th>H/R</th>
                            <th>SpO2</th>
                        </tr>
                        <tr>
                            <td>{{ patient.b_bp_sys }} / {{ patient.b_bp_dia }}</td>
                            <td>{{ patient.pulse }}</td>
                            <td>{{ patient.spO2 }}</td>
                        </tr>
                        <tr>
                            <th>Temperature (F)</th>
                            <th>Pulse (BPM)</th>
                            <th>BSR</th>
                        </tr>
                        <tr>
                            <td>{{ patient.temperature }}</td>
                            <td>{{ patient.pulse }}</td>
                            <td>{{ patient.bsr }}</td>
                        </tr>
                        <tr>
                            <th>Urine Albumin</th>
                            <th>HB (g/dL)</th>
                        </tr>
                        <tr>
                            <td>{{ patient.urine_albumin }}</td>
                            <td>{{ patient.hb }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- previous pregnancies (if any) -->
    <div class="container">
        <div class="info-box">
            <div class="info-box-header">
                CONDITION AT BOOKING
                <div style="font-size: 1rem; font-weight: normal; color: black;">
                    Please record the following details, if applicable.
                </div>
            </div>
            <div class="info-box-content">
                <p>Oral & Dental Hygiene</p>
                <p>Thyroid</p>
                <p>Heart</p>
                <p>Lungs</p>
                <p>Veins</p>
                <p>Pelvic Assessments (if applicable)</p>
                <p>38 weeks Outlet Cavity Inlet Sign factor</p>
                <p>Other significant findings</p>
            </div>
        </div>
    </div>

    <!-- audio recorder -->
    <div class="audio-recorder-container">
        <div class="audio-recorder-buttons">
            <button id="recordButton" class="audio-recorder-button" onclick="toggleRecording()">
                <i class="fas fa-microphone"></i> <!-- Record icon -->
            </button>
            <button id="stopButton" class="audio-recorder-button" onclick="stopRecording()" disabled>
                <i class="fas fa-stop"></i> <!-- Stop icon -->
            </button>
            <button id="retryButton" class="audio-recorder-button" onclick="retryRecording()" disabled>
                <i class="fas fa-redo"></i> <!-- Retry icon -->
            </button>
            <button id="submitButton" class="audio-recorder-button" onclick="submitRecording()" disabled>
                <i class="fas fa-check-circle"></i> <!-- Submit icon -->
            </button>
        </div>
        <div id="timer" style="display: none;">00:00:00</div>
        <audio id="audioPlayback" controls style="display: none;"></audio>
    </div>

    <!-- continue button -->
    <div class="button-container">
        <button class="continue-button" onclick="continueButton()">Continue</button>
    </div>

    <!-- ajax -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../static/js/doctor/recording.js" type="text/javascript"></script>

    <script>

        window.addEventListener('load', function () {
            updateProgressBar();
        });

        // Audio recording implementation
        let mediaRecorder;
        let chunks = [];
        let timerInterval;

        function toggleRecording() {
            if (mediaRecorder && mediaRecorder.state === 'recording') {
                stopRecording();
            } else {
                startRecording();
            }
        }

        function startRecording() {
            navigator.mediaDevices.getUserMedia({ audio: true })
                .then(function (stream) {
                    mediaRecorder = new MediaRecorder(stream);
                    mediaRecorder.start();
                    chunks = [];

                    // Update UI
                    document.getElementById('recordButton').disabled = true;
                    document.getElementById('stopButton').disabled = false;
                    document.getElementById('retryButton').disabled = true;
                    document.getElementById('submitButton').disabled = true;
                    document.getElementById('timer').style.display = 'block';

                    // Start timer
                    let startTime = Date.now();
                    timerInterval = setInterval(function () {
                        let elapsedTime = Date.now() - startTime;
                        let formattedTime = formatTime(elapsedTime);
                        document.getElementById('timer').textContent = formattedTime;
                    }, 1000);

                    // Event listeners for media recorder
                    mediaRecorder.addEventListener('dataavailable', function (event) {
                        chunks.push(event.data);
                    });

                    mediaRecorder.addEventListener('stop', function () {
                        // Stop timer
                        clearInterval(timerInterval);

                        // Create audio playback
                        let blob = new Blob(chunks, { type: 'audio/webm' });
                        let audioUrl = URL.createObjectURL(blob);
                        let audioElement = document.getElementById('audioPlayback');
                        audioElement.src = audioUrl;
                        audioElement.style.display = 'block';

                        // Update UI
                        document.getElementById('recordButton').disabled = false;
                        document.getElementById('stopButton').disabled = true;
                        document.getElementById('retryButton').disabled = false;
                        document.getElementById('submitButton').disabled = false;
                        document.getElementById('timer').style.display = 'none';
                    });
                })
                .catch(function (error) {
                    console.error('Error accessing microphone:', error);
                });
        }

        function stopRecording() {
            if (mediaRecorder && mediaRecorder.state === 'recording') {
                mediaRecorder.stop();
            }
        }

        function retryRecording() {
            // Reset UI
            document.getElementById('audioPlayback').style.display = 'none';
            document.getElementById('retryButton').disabled = true;
            document.getElementById('submitButton').disabled = true;

            // Clear recorded chunks
            chunks = [];
        }

        function submitRecording() {
            let blob = new Blob(chunks, { type: 'audio/webm' });
            if (!blob) {
                alert('No audio recording found');
                return;
            }
            let formData = new FormData();
            formData.append('audio', blob);
            fetch("{{ url_for('doctor.record_condition_at_booking', mr_num=mr_num) }}", {
                method: 'POST',
                body: formData
            })
                .then(function (response) {
                    console.log(response.ok);
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.text();  // or response.json(), depending on what the server sends
                })
                .then(function (text) {  // or .then(function (data) if using json
                    console.log(text);  // log the response
                    alert('Audio recording uploaded successfully');
                    window.location.href = `{{ url_for('doctor.record_present_pregnancy', mr_num=mr_num) }}`;
                })
                .catch(function (error) {
                    console.error(error);
                    alert('Failed to upload audio');
                });

            // Reset UI
            document.getElementById('audioPlayback').style.display = 'none';
            document.getElementById('retryButton').disabled = true;
            document.getElementById('submitButton').disabled = true;

            // Clear recorded chunks
            chunks = [];
            stopRecording();
            document.getElementById('timer').textContent = '00:00:00';
            document.getElementById('timer').style.display = 'none';
            mediaRecorder = null;
            let audioElement = document.getElementById('audioPlayback');
            audioElement.src = '';
            clearInterval(timerInterval);
            document.getElementById('recordButton').disabled = false;
            document.getElementById('stopButton').disabled = true;
        }

        function formatTime(milliseconds) {
            let totalSeconds = Math.floor(milliseconds / 1000);
            let hours = Math.floor(totalSeconds / 3600);
            let minutes = Math.floor((totalSeconds % 3600) / 60);
            let seconds = totalSeconds % 60;

            let formattedTime = '';
            if (hours > 0) {
                formattedTime += hours.toString().padStart(2, '0') + ':';
            }
            formattedTime += minutes.toString().padStart(2, '0') + ':';
            formattedTime += seconds.toString().padStart(2, '0');

            return formattedTime;
        }

        function checkAudio() {
            let audio = sessionStorage.getItem('step5_screen');
            return audio;
        }

        function checkFormAndAudio() {
            let audio = checkAudio();
            if (audio) {
                return true;
            }
            return false;
        }

        $('#vitalsContent').on('show.bs.collapse', function () {
            $('.vitals-header .fas').removeClass('fa-chevron-down').addClass('fa-chevron-up');
        }).on('hide.bs.collapse', function () {
            $('.vitals-header .fas').removeClass('fa-chevron-up').addClass('fa-chevron-down');
        });

        function backButton() {
            let gravida = sessionStorage.getItem('gravida');
            if (gravida === "0/PG") {
                window.location.href = "{{ url_for('doctor.record_socioeconomic_history', mr_num=mr_num) }}";
            } else {
                window.location.href = "{{ url_for('doctor.record_previous_pregnancy', mr_num=mr_num) }}";
            }
        }

        function continueButton() {
            window.location.href = "{{ url_for('doctor.record_present_pregnancy', mr_num=mr_num) }}"
        }

        function updateProgressBar() {
            const steps = ['step1_screen', 'step2_screen', 'step3_screen', 'step4_screen', 'step5_screen', 'step6_screen'];
            const progressBar = document.getElementById('progressBar');

            steps.forEach(function (step, index) {
                if (sessionStorage.getItem(step) === 'true') {
                    progressBar.children[index].classList.add('completed');
                    progressBar.children[index].classList.remove('incomplete');
                } else {
                    progressBar.children[index].classList.add('incomplete');
                    progressBar.children[index].classList.remove('completed');
                }
            });
        }

    </script>
</body>

</html>